.client\.game\.battlefield {
    display: flex;
    flex-flow: row nowrap;
    background-color: blue;
    width: 100%;
    height: 100%;
}

.client\.game\.battlefield\.hand {
    display: flex;
    flex: 2 0;
    flex-flow: column nowrap;
    background-color: red;
    overflow: auto;
}

.client\.game\.battlefield\.entry {
    display: flex;
    flex-flow: column nowrap;
    flex: 7 0 auto;
    background-color: violet;
}

.client\.game\.battlefield\.field  {
    display: flex;
    flex: 1 0 auto;
    background-color: black;
}

.client\.game\.battlefield\.info  {
    display: flex;
    flex: 1 0 auto;
    background-color: red;
}

.client\.field\.hand {
    position: relative;
    width: 100%;
    height: auto;
}
.client\.field\.hand img {
    width: 100%;
    height: 100%;
}

.client\.field\.hand .card_div\.att {
    position: absolute;
    bottom: 3%;
    left: 15%;
    font-size: 4vw;
}


.client\.field\.hand .card_div\.def {
    position: absolute;
    bottom: 3%;
    right: 15%;
    font-size: 4vw;
}